<!DOCTYPE HTML>
<html>
	<head>
		<title>Index</title>
	</head>

	<body>
        Moin! Willkommen auf unser Seite, von Entwickler für Entwickler. <br>
        Viel spass und viel erfolg. <br>
	</body>
</html>